.customButton {
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 220px;
    height: 70px;
    font-size: 20x;
    cursor: pointer;
}

.githubbutton {
    background-color: transparent;
    border: none;
    width: 100px;
    height: auto;
}

.githubbutton:hover {
    background-color: transparent;
    border: none;
    width: 100px;
    height: auto;
    cursor: pointer;
}

.githubavatar {
    width: inherit;
    height: auto;
    border: solid;
    border-width: 5px;
    border-color: pink;
    border-radius: 20%;
}