.page {
    height: 100vh;
    width: 100vw;
    padding: 4rem 0;
    background-color: #09031c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: aliceblue;
}

.experience_grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
}

.grid_one {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.grid_two {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.grid_three {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.grid_four {
    grid-row: 1;
    grid-column: 4;
    text-align: center;
}

.grid_five {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

.grid_six {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

.grid_seven {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

.grid_eight {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
}

.projects {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}

.project {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.centered_text {
    text-align: center;
}

.centered_items {
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}