.list {
    list-style: none;
}

.page {
    background-color: #09031c;
    color: aliceblue;
    float: auto;
}

.experience_grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
}

.grid_one {
    grid-row: 1;
    grid-column: 1;
    text-align: center;
}

.grid_two {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
}

.grid_three {
    grid-row: 1;
    grid-column: 3;
    text-align: center;
}

.grid_four {
    grid-row: 1;
    grid-column: 4;
    text-align: center;
}

.grid_five {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
}

.grid_six {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

.grid_seven {
    grid-row: 2;
    grid-column: 3;
    text-align: center;
}

.grid_eight {
    grid-row: 2;
    grid-column: 4;
    text-align: center;
}

.projects {
    display: flex;
}

.project {
    margin-left: 10px;
    margin-right: 10px;
}

.centered_text {
    text-align: center;
}

.githubbutton {
    background-color: transparent;
    border: none;
    width: 100px;
    height: auto;
}

.githubbutton:hover {
    background-color: transparent;
    border: none;
    width: 100px;
    height: auto;
    cursor: pointer;
}

.githubavatar {
    width: inherit;
    height: auto;
    border: solid;
    border-width: 5px;
    border-color: pink;
    border-radius: 20%;
}