.lanzskills {
    text-align: left;
    height: calc(100vh - 650px);
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #191023;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}