.lanzcontact {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #191023;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 100%;
}

.lanzcontact h3 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.lanzcontact ul {
    text-align: center;
    justify-content: top;
}

.lanzcontact p {
    cursor: pointer;
}

.lanzcontact text {
    font-size: 30px;
}