.lanzcontact {
    text-align: right;
    background-color: #191023;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    width: 50%;
    float: right;
    padding-right: 2%;
}

.lanzcontact h3 {
    width: 100%;
    font-size: 30px;
    padding-left: 20%;
}

.lanzcontact ul {
    justify-content: right;
}

.lanzcontact p {
    cursor: pointer;
}

.lanzcontact text {
    font-size: 30px;
}