.lanzgit {
    height: 100%;
    display: flex;
    background-color: #191023;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
                 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow: hidden;
}

.githubavatar {
    display: block;
    width: 225%;
    height: auto;
    border: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20%;
    margin: auto;
    flex-direction: column;
    max-width: 18vw;
    max-height: 20vw;
}

.pic_pos {
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    padding-right: 9%;
}

.column {
    flex: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.clickable {
    display: flex;
    cursor: pointer;
    text-align: start;
    font-size: 35px;
    margin-bottom: -5px;
    width: 90%;
}

.container {
    background-color: #141414;
    height: auto;
    border-width: 5px;
    border-color: red;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-bottom: 10%;
}

.title {
    text-align: center;
}

.image {
    width: 95%;
    height: initial;
}

.desc {
    text-align: center;
}

.proj_text {
    text-align: left;
    font-size: 20px;
    width: 85%;
    margin-bottom: -10px;
}

.proj_pic1 {
    display: block;
    max-width: 25vw;
    max-height: 10vw;
    margin: auto;
    width: auto;
    height: auto;
    margin-top: 2%;
    transform: scale(1.3);
}

.proj_pic2 {
    display: block;
    max-width: 38vw;
    max-height: 10vw;
    margin-top: 5%;
    position: relative;
    height: auto;
    width: auto;
    margin: auto;
    top: 330px;
    transform: scale(1.05);
}

.lanzgit li {
    margin-top: 10px;
    text-align: left;
    font-size: 20px;
}